<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery<%= useMin %>.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular<%= useMin %>.js"></script>
    <script type="text/javascript" src='/static/bootstrap/dist/js/bootstrap<%= useMin %>.js'></script>
    <script type="text/javascript" src='/static/angular-cookies/angular-cookies<%= useMin %>.js'></script>
    <script type="text/javascript" src='/static/js/index.js'></script>
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap<%= useMin %>.css' rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='/static/css/index.css' rel="stylesheet"/>
</head>
<body ng-app="myApp">
    <div id="wrap">
        <div class="container">
            <div class="page-header">
                <h1><i class="icon-rocket"></i>Shorten Long Url</h1>
            </div>
            <div ng-view></div>
        </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Made by <a href="http://twitter.com/derrick_demo">Derrick Tao</a>.</p>
    </div>
</div> 
</body>
</html>